.frame {
	position: static;
	align: center;
	/*border: 1px solid red;*/
	width: 412px;
	margin: 0 auto;
}
.board {
	height: 412px;
	width: 412px;
	/*border-collapse: collapse;*/
	margin: 0 auto;
	border-spacing: 10px;
}
.reset {
	position: relative;
	align: left;
}
body {
	background: #222222;
}
td {
	height: 114px;
	width: 114px;
	border: 5px solid white;
	background: #dddddd;
	border-radius: 5px;
}
button {
	font-family:'Merriweather Sans';
	font-size: 18px;
	color: #222222;
	width: 124px;
	background: white;
	padding: 0 15px;
	margin: 15px 10px;
	border: 5px solid white;
	border-radius: 5px;
}