.frame {
  position: static;
  align: center;
  /*border: 1px solid red;*/
  width: 412px;
  margin: 0 auto;
}
.board {
  height: 412px;
  width: 412px;
  /*border-collapse: collapse;*/
  margin: 0 auto;
  border-spacing: 10px; 
}
#reset {
  position: relative;
  align: left;
  font-family:"Merriweather Sans";
  font-size: 14px;
  color: #222222;
  width: 124px;
  background: white;
  padding: 2px 15px;
  margin: 15px 10px;
  border: 5px solid white;
  border-radius: 5px;
}


body {
  background: #222222;
}
table {
  margin: 0 auto;
  border-radius:10px;
}
h1{
  font-family: "Merriweather Sans";
  font-size: 32px;
  color: white;
  text-align: center;
  margin: 10px;
}
h2 {
  font-family: "Merriweather Sans";
  font-size: 20px;
  color: white;
  text-align: center;
  margin: 10px;
}
td {
  height: 100px;
  width: 100px;
  border: 5px solid white;
  /*background: #dddddd;*/
}

p{
  font-family: "Roboto";
  font-size: 14px;
  color: white;
  margin: -10px 10px 0 10px;
}




.X {
  background: #311B19;
  color: white;
  text-align: center;
  font-family: "Merriweather Sans";
  font-size: 32px;
}
.O {
  background: #192531;
  color: white;
  text-align: center;
  font-family: "Merriweather Sans";
  font-size: 32px;
}

.clear {
  background: #222222;
}

